/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: $primary-color #ffffff;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
}

  *::-webkit-scrollbar-track {
    background: #ffffff;
}

  *::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
    border: 3px solid #ffffff;
}