<nav class="nav" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
   <div class="uk-navbar-container uk-navbar-transparent nav__content" uk-navbar>
      <div class="uk-navbar-left">
         <ul class="uk-navbar-nav">
            {% if user.is_authenticated %}
               <li><a href="/user/list">Пользователи</a></li>
            {% endif %}
         </ul>
      </div>
      <div class="uk-navbar-right">
         <ul class="uk-navbar-nav">
            {% if user.is_authenticated %}
               <li>
                  <a href="#"><span uk-icon="user"> </span><span>{{ user.username }}</span></a>
                  <div class="uk-navbar-dropdown">
                     <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/logout">Выйти</a></li>
                     </ul>
                  </div>
               </li>
            {% else %}
               <li><a href="/signin">Войти</a></li>
               <li><a href="/signup">Регистрация</a></li>
            {% endif %}
         </ul>
      </div>
   </div>
</nav>