@import 'utils';
@import 'blocks';
@import 'pages';

.main {
    min-height: calc(100vh - 230px);
    display: flex;
    justify-content: center;

    &__content {
        width: 100%;
        max-width: $desktopWidth;
        margin: 20px;
    }
}

.nav {
    display: flex;
    justify-content: center;

    &__content {
        width: 100%;
        max-width: 1280px;
    }
}